@font-face {
    font-family: "haseeb";
    src: url("fonts/ALGER.TTF")
}

h1 {
    font-family: haseeb;
    font-size: 200%;
}
p {
    font-weight: normal;
    font-style: normal;
    text-transform: justify;
}


b {
    font-weight: normal;
    text-transform: lowercase;
}